<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.8.0" targetFramework="net40" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net40" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" requireReinstallation="True" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="True" />
</packages>